* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-user-select: none;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: white;
  color: black;
}
header {
  display: flex;
  align-items: center;
  background-color: #ba8a30;
  color: white;
  padding: 4px 10px;
}
header button {
  border-right: 1px solid white;
  background-color: #ba8a30;
  box-shadow: none;
  height: 24px;
  padding: 0 5px;
}
header h1 {
  display: inline;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 15px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-width: 300px;
  max-width: 1000px;
  padding: 5%;
  gap: 40px;
}
section {
  width: 100%;
}
button {
  background-color: #616161;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 1px 3px 1px #8e8e8e;
  -webkit-tap-highlight-color: transparent;
}
button:disabled {
  background-color: #909090;
  box-shadow: 0px 1px 3px 1px #8e8e8e;
}
h2 {
  margin-top: 0;
  margin-bottom: revert;
  margin-left: -10px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  align-self: start;
  font-size: 1.1rem;
  font-weight: 500;
}
a {
  color: darkgoldenrod;
}
strong {
  font-weight: 500;
}
input[type=radio] {
  display: none;
}
input[type=range] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
  pointer-events: none;
  background: none;
  cursor: pointer;
}
input[type=range]:focus, input[type=range]:active {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border: none;
  pointer-events: auto;
  border-radius: 14px;
  background-color: #616161;
  cursor: pointer;
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 3px 1px #616161;
  margin-top: -1px;
}
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  pointer-events: auto;
  border-radius: 14px;
  background-color: #616161;
  cursor: pointer;
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 3px 0px #616161;
}
.main-controls {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 156px;
  border-radius: 26px;
  box-shadow: 0px 5px 11px 3px #8e8e8e;
}
.main-button-duration {
  position: absolute;
  font-size: 1.4em;
  font-weight: 500;
  bottom: 10px;
}
.main-button-timer {
  font-size: 3.5rem;
  font-weight: 500;
}
.round-button {
  width: 42px;
  height: 42px;
  border-radius: 21px;
}
.play-icon-container {
  position: relative;
  font-size: 0;
}
.play-icon-container img {
  width: 70px;
  height: 70px;
}
.icon-container {
  position: relative;
}
.icon-container img {
  width: 24px;
  height: 24px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.session {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.session-params {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.session-params strong {
  margin-right: 5px;
}
.session-controls {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.range-slider {
  position: relative;
  float: left;
}
.full-width {
  width: 100%;
}
.range-icons {
  position: relative;
  display: flex;
  top: -25px;
}
.range-icons img {
  position: absolute;
  margin-left: -12px;
}
.range-slider {
  height: 22px;
}
.range-slider hr {
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0px;
  border: 1px solid #dfab4a;
}
.range-slider span {
  position: absolute;
  height: 6px;
  top: 8px;
}
.passive-session-range {
  border: 1px solid #dfab4a;
  border-radius: 3px;
  box-shadow: inset 0px 0px 3px 0px #dfab4a;
  height: 6px !important;
  top: 8px !important;
}
.active-session-range {
  background-color: #dfab4a;
  box-shadow: 0px 0px 3px 0px #dfab4a;
}
.available-range {
  background-color: #8e8e8e;
  border-radius: 1px;
  height: 2px !important;
  top: 10px !important;
  z-index: -1;
  left: 2px;
  right: 2px;
}
.session input[type=range] {
  position: absolute;
  left: -2px;
  width: 100%;
}
.session input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.setting input[type=range] {
  pointer-events: revert;
  width: 100px;
}
.sound-range {
  display: flex;
  align-items: center;
}
.sound-range-icon-up, .sound-range-icon-down {
  margin-left: 3px;
}
.rating-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: white;
  margin: 50vh auto;
  transform: translateY(-50%);
  padding: 25px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content h2 {
  margin: 0;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
}
.modal-buttons button {
  background-color: white;
  color: #616161;
  width: 150px;
  cursor: pointer;
  border: none;
  padding: 5px 0;
  box-shadow: none;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}
.modal-buttons button:first-of-type {
  padding-right: 25px;
}
.modal-buttons button:last-of-type {
  padding-left: 25px;
}
.rating {
  display: flex;
  justify-content: center;
}
.rating img {
  width: 54px;
  height: 54px;
  cursor: pointer;
}
.chart {
  flex-grow: 1;
}
.chart-wrapper {
  width: 100%;
  height: 100px;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: end;
}
.tooltip-text {
  background-color: black;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: start;
}
.tooltip-icon:hover .tooltip {
  visibility: visible;
}
.tooltip-icon img {
  position: absolute;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 0 5px;
}
.about {
  gap: 0 !important;
}
.about p {
  width: 100%;
  margin-top: 0;
}
.about hr {
  width: 100%;
}
.legend {
  display: flex;
  justify-content: space-around;
}
.footer {
  text-align: center;
  margin-top: revert !important;
}
