* {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-user-select: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: white;
  color: black;
}
section {
  margin-top: 5px;
}
button {
  background-color: #616161;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 1px 3px 1px #8e8e8e;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  min-width: 300px;
  max-width: 1000px;
  padding: 16px;
}
.main-controls {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.main-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 156px;
  border-radius: 26px;
  box-shadow: 0px 5px 11px 3px #8e8e8e;
}
.main-button-duration {
  position: absolute;
  font-size: 1.4em;
  font-weight: 500;
  bottom: 10px;
}
.round-button {
  width: 42px;
  height: 42px;
  border-radius: 21px;
}
.play-icon-container {
  font-size: 0;
}
.play-icon {
  fill: white;
  stroke: white;
}
.icon-container {
  position: relative;
}
.icon-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  fill: white;
  stroke: none;
}
.session {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.session-params {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.session-controls {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
.range-slider {
  position: relative;
  width: 100%;
  float: left;
  text-align: center;
}
.range-slider hr {
  position: absolute;
  width: 100%;
  height: 6px;
  top: 0px;
  border: 1px solid #dfab4a;
}
.range-slider span {
  position: absolute;
  height: 6px;
  top: 8px;
}
.passive-session-range {
  border: 1px solid #dfab4a;
  border-radius: 3px;
  box-shadow: inset 0px 0px 3px 0px #dfab4a;
  height: 6px !important;
  top: 8px !important;
}
.active-session-range {
  background-color: #dfab4a;
  box-shadow: 0px 0px 3px 0px #dfab4a;
}
.available-session-range {
  background-color: #8e8e8e;
  border-radius: 1px;
  height: 2px !important;
  top: 10px !important;
}
/* Range input styling */
/* Thanks to @RemkoBoschker at CodePen.io */
input[type=range] {
  -webkit-appearance: none;
  pointer-events: none;
  padding: 0;
  position: absolute;
  left: -2px;
  width: 100%;
  background: none;
}
input[type=range]:focus, .range-slider input[type=range]:active {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border: none;
  pointer-events: auto;
  border-radius: 14px;
  background-color: #616161;
  cursor: pointer;
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 3px 1px #616161;
  margin-top: -1px;
}
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  pointer-events: auto;
  border-radius: 14px;
  background-color: #616161;
  cursor: pointer;
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 3px 0px #616161;
}
input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
}
